name: rustfmt

on: 
  push:
  pull_request:

jobs:
  rustfmt:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        profile: minimal
        toolchain: stable
        components: rustfmt
    - name: Check rustfmt
      uses: actions-rs/cargo@v1
      with:
        command: fmt
        args: -- --check
